*, *::before, *::after{
   box-sizing: border-box;
   font-weight: normal;
    
}
body{
    background-image: url('./images/calculator-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
#resualt{
    display: flex;
    justify-content: flex-end;
    font-size: 5rem;
    background-color: rgb(247, 104, 52, 0.9);
    border-radius: 5%;
    color: rgb(252, 250, 250);
    padding-top: 10px;
    
}

.calc {
    display: grid  ;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows:minmax(120px, auto) repeat(5, 90px);
    width: fit-content;
    border: 3px solid black;
    border-radius: 3%;
    margin-left: 35%;
}

.calc > button{
    font-size: 2rem;
    border: 1px solid white;
    outline: none;

}
#resualt{
    grid-column: 1/-1;
    display: flex;
    align-content: flex-end;
    box-sizing: content-box;

}

.helpers{
    background-color: rgb(255, 165, 0, 0.9);
}
.helpers:hover{
    background-color: rgb(255, 165, 0);
}

.operator{
    background-color: rgb(127, 255, 212);
}
.operator:hover{
    background-color: rgb(35, 223, 160);
}